<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="profile-card">
    <div class="card-header">
      <div class="pic">
        <img src="../static/pic.jpg" alt="">
      </div>
      <div class="name">Kenny</div>
      <div class="desc">Student</div>
      <div class ="sm">
        <div class="fb">
          <a href="https://www.facebook.com/kenny.su3" class="fab fa-facebook-f"></a>
        </div>
        <div class="ig">
          <a href="https://www.instagram.com/kennyyauw/" class="fab fa-instagram"></a>
        </div>
        <div class ="gh">
          <a href="https://github.com/Kennyyauw" class="fab fa-github"></a>
        </div>
        <div class ="line">
          <a href="https://line.me/ti/p/kennywijayaz" class="fab fa-line"></a>
        </div>
      </div>
      <div class = "contact">
        <a href="https://wa.me/%2B866966356053" class="contact-btn">Contact Me</a>
      </div>
  </div>
</body>
</html>